.body {
  background-color: rgb(207, 227, 240);
  height: 1500px;
}
.formBox {
  height: 480px;
  width: 350px;
  background-color: white;
  position: relative;
  margin: 6% auto;
  padding: 5px;
  border-radius: 20px;
}
#signUpButton {
  cursor: pointer;
  padding: 15px 54px;
  border-top-left-radius: 15px;
  background-color: rgb(18, 129, 202);
  outline:none;
  margin-top: 0;
  margin-right: 5px;
  margin-left:0px;
  color: white;
  border:none;
}
/* Sign In Button */
#signInButton {
  cursor: pointer;
  padding: 15px 55px;
  border-top-right-radius: 15px;
  background-color: rgb(18, 129, 202);
  outline: none;
  margin-top: 0;
  margin-right: 0px;
  color: white;
  border: none;
}
/* Logo Style */
.logo {
  width: 120px;
  margin-top: 20px;
  margin-left: 114px;
}
.h1{
  color:  rgb(141, 192, 226);
}
/* Sign In and Sign Up Styling */
.input-group1 {
  top: 150px;
  position: absolute;
  /* width: 100px; */
}
.InputField {
  width: 270px;
  padding: 10px 0;
  margin: 5px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid grey;
  color: grey;
}
#cancelButton {
  font-size: large;
  width: 100px;
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 20px;
  background-color: rgb(18, 129, 202);
  cursor: pointer;
  color: white;
  border: none;
}
#submitButton {
  font-size: large;
  width: 100px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgb(9, 91, 146);
  cursor: pointer;
  color: white;
  margin-left: 2px;
  border: none;
}
#sign {
  left: 50px;
}

.ACL {
  margin-left: 0;
}
.outline {
  height: 1200px;
  width: 1000px;
  position: relative;
  background-color: white;
  margin: 5% auto;
  color: grey;
  font-size: x-large;
  align-content: center;
  padding-top: 0px;
}
h1 {
  padding-left: 550px;
  padding-top: 50px;
}
.PPBox {
  height: 192px;
  width: 300px;
  float: left;
  margin-top: 20px;
  display: block;
}
.label {
  padding: 12px 12px 12px 12px;
  display: inline-block;
}
.inputField {
  border-bottom: 1px solid grey;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  height: 44px;
  margin-left: 0;
  outline: none;
}
.addButton{
  height: 50px;
  width: 50px;
}
.text{
  white-space: nowrap;
}
.btn {
  color: white;
  background-color: rgb(18, 129, 202);
  border-radius: 40px;
  cursor: pointer;
  width: 100px;
  font-size: x-large;
  margin-top: 10px;
  margin-right: 20px;
  border: none;
}
.circle {
  border-radius: 1000px !important;
  overflow: visible;
  width: 170px;
  height: 170px;
  border: 8px solid rgba(231, 217, 217, 0.7);
  margin-left:70px
}

img {
  max-width: 100%;
  height: auto;
}
.add {
  border: none;
  outline: none;
  height: 38px;
  border-radius: 25px;
  margin-left: 130px;
  margin-top: 115px;
  background-color:transparent;
  cursor: pointer;
}
.button{
  background-color: transparent;
  border: none;
  outline: none;
}
.error
{
  color: red;
}


